.section {
  margin: 0px 8%;
}
.nav-link {
  display: flex;
  text-align: center;
  margin-top: 3%;
}
.link {
  flex: 1;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-bottom: 1%;
}
